{% extends "dashboard_skeleton.html" %}
{% load static %}


{% block content %}

       <section class="content">
      <div class="container-fluid">
        <h4><b>LTD LIABILITY REQUESTS </b> </h4>
        </div>
      <!-- /.modal -->
        </section>

     <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
             {% for x in business_names %}
                 <a href={% url 'bn_detail' x.pk%}
                <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-gradient-green"><i class="far fa-copy"></i></span>

              <div class="info-box-content">
                <span class="info-box-number" style="color: #fff4f4">{{ x.proposed_business_name }}</span>
                <span class="info-box-text" style="color: #ffffff">{{ x.date_created  }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
                 </a>

                 {#          <div class="col-lg-3 col-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-success">#}
{#              <div class="inner">#}
{#                <h5>{{ x.fullname}}</h5>#}
{##}
{#                <p>{{ x.nature_of_business|upper}}</p>#}
{#                  <p>{{ x.date_created}}</p>#}
{#              </div>#}
{#              <div class="icon">#}
{#                <i class="ion ion-stats-bars"></i>#}
{#              </div>#}
{#             <a href={% url 'loan_object' x.pk %} class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#          </div>#}
                {% endfor %}

          <!-- ./col -->
        </div>
      </div>
           </section>




{% endblock  %}